body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.password-box {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

#error {
    color: red;
    font-size: 14px;
}